@page
@model MyFirstRazorPagesApp.Pages.SupplierInfoModel
@{
}

<div class="card">
    <h1>@Model.CompanyName</h1>

    <div class="card-body">
        <p>@Model.ContactName</p>
        <p>@Model.City</p>
    </div>
</div>
